# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/
Thumbs.db

# OS
.DS_Store

# Test & coverage
.pytest_cache/
.coverage

# Alembic cache
**/__pycache__/

# log files
**/logs/*.log
